body{
  margin: 0;
  font-family: Montserrat-Black;
}

/* media style for tablet and moble */






/* the beginning of the title section */

#title {
  background-color: #ff4c68;
  color: white;
}

h1{
  font-family: Montserrat-Black;
  size: 3rem;
  line-height: 1.5;
}
 /* start of the nav */
.row h1{
  font-size: 80px;
  font-weight: bold;
}

.container-fluid{
  padding: 3% 15% 7%;
}

.navbar-brand{
  font-family: ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding-bottom: 4.5rem;
}
.nav-item{
  font-size: 50px;
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
}

/* css button */

.download-btn{
  margin: 5% 3% 5% 0;
}

/* img css */

.title-img {
  width: 20%;
  transform: rotate(30deg);
  position: absolute;
  right: 25%;
  top: 30%;
}

@media (max-width: 1024px) {
  .row h1{
    font-size: 70px;

  }
  .title-img {
    width: 80%;
    transform: rotate(0);
    position: static;
  }

}

/* the beginning of feature */
#features{
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
}

.feature-box{
  text-align: center;
  line-height: 2.5rem;
  padding: 9%;
}
.feature-box h3{
  font-size: 20px;
  font-weight: bold;
  font-family: Montserrat-bold;
}
.feature-box p {
color: grey
}

.icon {
  padding: 10% 0;
  color: #f5b3b3;
  font-size: 3.5rem;
}
.icon:hover{
  color: red;
}


/* the start of testimonials css */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: white;
}

#testimonials h2 {
  line-height: 1.5;
  padding: 0 25%;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "montserrat-Blod";
  word-spacing: 0.5em;
  letter-spacing: 0.1em;

}

.testimonials-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item{
  padding: 7% 15%;
}
/* the start of the press csss */

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

#press img{
  width: 15%;
  margin: 20px 20px 50px;
}


  /* the beginning of the pricing section */

#pricing{
  padding: 100px;
  text-align: center;
}

.prcing-column {
  padding: 40px 40px ;
}




  /* the start of action section */

  #cta{
    background-color: #ff4c68;
    text-align: center;
  }

  #cta h3 {
    color: white;
    font-size: 3.5rem;
    font-weight: bold;
    font-family: "Montserrat-bold";
    line-height: 1.5;
    padding: 7% 30%;
  }

  #cta button {
    margin: 0 1% 7%;
  }


  /* the start of the footer styling */

  #footer{
    padding: 3% 5%;
    text-align: center;
  }

  #footer i{
      margin: 9px 6px;
  }
